*/*.db
/backend/data/
/data
/.vscode

# Ignore all .env files (e.g., .env, .env.local, .env.production)
*.env
.env*

# Un-ignore the template/example file explicitly
!.env.example
!example.env
!*.example.env